<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Dealer App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar">
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('add_car') }}">Add Car</a></li>
        <li><a href="{{ url_for('list_cars') }}">List Cars</a></li>
        <li><a href="{{ url_for('add_sale') }}">Add Sale</a></li>
        <li><a href="{{ url_for('list_sales') }}">List Sales</a></li>
        <li><a href="{{ url_for('add_appointment') }}">Add Appointment</a></li>
        <li><a href="{{ url_for('list_appointments') }}">List Appointments</a></li>
      </ul>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
</body>
</html>
